.backgroundImg{
    background-image: url('../../../src/assets/others/authentication.png');
    background-repeat: no-repeat;
}
.backgroundImg2{
    background-image: url('../../../src//assets/others/authentication.png');
    background-repeat: no-repeat;
  
}